<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="nbr_ligne">Nombre de lignes:</label>
        <input type="text" id="nbr_ligne" name="nbr_ligne" required><br><br>

        <label for="nbr_column">Nombre de colonnes:</label>
        <input type="text" id="nbr_column" name="nbr_column" required><br><br>

        <label for="tps_wait_for_turn">Temps d'attente max par tour:</label>
        <input type="text" id="tps_wait_for_turn" name="tps_wait_for_turn" required><br><br>

        <label for="nbr_tour">Nombre de tours:</label>
        <input type="text" id="nbr_tour" name="nbr_tour" required><br><br>

        <label for="nbr_obstacle">Nombre d'obstacles:</label>
        <input type="text" id="nbr_obstacle" name="nbr_obstacle" required><br><br>

        <label for="nbr_player">Nombre maximum de joueurs:</label>
        <input type="text" id="nbr_player" name="nbr_player" required><br><br>

        <button type="submit">Créer la partie</button>
    </form>
</body>
</html>